<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>FutaD</title>

		<link rel="stylesheet" href="/static/nprogress.css" />
		<link rel="stylesheet" href="/static/global.css" />
		<script src="/static/jquery.js"></script>
		<script src="/static/global.js"></script>
		<script src="/static/nprogress.js"></script>
	</head>

	<body>
		<input id="noanims" type="hidden" value="{{ noanims }}" />
		<div id="spinner" class="spinner" role="spinner"><div class="spinner-icon"></div></div>

		<span class="header">Loading info from ANN...</span>
		<hr class="division" />

		<script>
			document.location.href = '/main';
		</script>
	</body>
</script>